
body {
    background-color: black;
    font-family: 'Baskervville', serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Duru Sans', sans-serif;
}
p {
    color: #80807c;
    font-size: 1.2rem;
}

/* navbar */

.navbar {
    padding: 0 5%;
}

/* title */

.container-fluid {
    margin: 0;
    padding: 2% 0 ;
}

.space {
    padding: 10% 7%;
}

.space-text1 {
    font-size: 4.5rem;
    font-weight: bold;
}
.space-text3 {
    color: #b0b0ae;
}

/* action */

#action {
    padding: 7% 15%;
    text-align: center;
    margin: 0 0 5%;
}
.action-text {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0 0 5%;
}

/* features */

img {
    max-width: 100%;
    max-height: 100%;
}

.feature-image {
    width: 40%;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}


.features-row {
    padding: 7% 10%;
    text-align: center;
}

.features-about {
    padding: 0 7%;
    margin: 10% 0;
    line-height: 2;
}
.star {
    margin-bottom: 1.5rem;
}

/* partner */

#partners {
    text-align: center;
    margin: 7% 0;
}
.partner-text {
    margin-bottom: 5%;
    font-size: 2.5rem;
    font-weight: bold;
}

.partner-image {
    width: 10%;
    margin: 3%;
}
.carousel-item {
    padding: o 20%;
}

/* about */

#about {
    text-align: center;
    padding: 7% 15%;
    line-height: 2;
}
.about-head {
    margin-bottom: 5%;
    margin-top: 0;
    font-weight: bold;
}
.about {
    margin-bottom: 7%;
}

/* contact */

.contact-text {
    padding: 7% 20%;
}

/* footer */

#footer {
    text-align: center;
    background-color: #252524;
    padding: 2% 15%;
}
.logo {
    padding:  0 1rem;
    margin-bottom: 2rem;
}

a {
    color: #676764;
}
a:hover {
    color: #b0b0ae;
}



/* media query 1007*/



@media (max-width:1007px) {
    .space {
        text-align: center;
    }
    .space-text1 {
        font-size: 5.5rem;       
    }
    .space-text3 {
        font-size: 2.5rem;
    }
    .space-text2 {
        font-size: 3rem;
    }
    .download-button {
        font-size: 2rem;
    }
    .action-text {
        font-size: 4.5rem;
    }
    .feature-image {
        width: 50%;       
    }
    .feature-text1 {
        font-size: 3rem;
    }
    .feature-text2, .about-p, .about-p2, .contact-p {
        font-size: 2.2rem;
    }
    .partner-text, .about-head, .contact-h {       
        font-size: 3.5rem;       
    }
    .partner-image {
        width: 15%;        
    }     
     
}


/* media query 840 */

@media (max-width:840px) {
    .space {
        text-align: center;
    }
    .space-text1 {
        font-size: 120px;       
    }
    .space-text3 {
        font-size: 72px;
    }
    .space-text2, .feature-text1 {
        font-size: 80px;
    }
    .download-button {
        font-size: 64px;
    }
    .action-text {
        font-size: 104px;
    }
    .feature-image {
        width: 70%;       
    }     
    .feature-text2, .about-p, .about-p2, .contact-p {
        font-size: 68px;
    }
    .partner-text, .about-head, .contact-h {       
        font-size: 88px;       
    }
    .partner-image {
        width: 35%;        
    }    
    .contact-text {
        padding: 0;
    }   
    #about {
        padding: 2% 3%;
    }
    .glyphicon {
        font-size: 120px;
    }
   
}

